/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;    
}

.container {
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    padding: 0 15px;
    width: calc( 100% / 3 );
    margin-top: 5px;
}

.card{
    background-color: #0f0e17;
    color: white;
    margin-top: 40px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.card img {
    width: 80px;
    float: left;
}

.card .content {
    float: right;
    width: calc( 100% - 80px );
    padding: 10px;
}

/* SECTION 1 */
h1 {
    color: #e53170;
    margin: 30px 0;
}

.container p {
    margin-top: 45px;
}

.section1 {
    text-align: center;
}

/* SECTION 2 */
.email-color {
    color: #4cbee4;
}

.text-size {
    font-size: 12px;
}

.email-color space {
    padding: 5px 0;
}


