/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;    
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

h1 {
    color: #e53170;
    margin: 30px 0;
}

.container p {
    margin-top: 45px;
}